[Unit]
Description=Run urbit-meld@%i monthly

[Timer]
OnCalendar=Mon *-*-01..07 07:00:00
RandomizedDelaySec=10800
FixedRandomDelay=true
AccuracySec=1us

[Install]
WantedBy=timers.target
