[Unit]
Description=Run pack for urbit %i
ConditionPathIsDirectory=/home/%i/%i

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/urbit-pack %i
User=root
