[Unit]
Description=Run meld for urbit %i
ConditionPathIsDirectory=/home/%i/%i

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/urbit-meld %i
User=root
