[Unit]
Description=Urbit prometheus exporter for %i

[Service]
Restart=always
EnvironmentFile=/etc/urbit/%i.exporter
ExecStart=/usr/bin/bash -c "/usr/local/sbin/urbit-exporter ${PORT} ${SHIP} ${ARGS}"
Type=exec
User=urbit-exporter

[Install]
WantedBy=multi-user.target
