[Unit]
Description=Urbit %i
ConditionPathIsDirectory=/home/%i/%i

[Service]
ExecStart=/bin/sh -c 'exec /usr/local/bin/urbit $(cat /etc/urbit/%i.args) -t /home/%i/%i'
Type=exec
User=%i

[Install]
WantedBy=multi-user.target
